h1{
    text-align: center;
}
H2{
    font-style:normal;
    text-align: center;
}
p{
    font-size: 25px;
    text-align: center;

}
.image-container {
    display: flex;
    justify-content: center;
    /* Opcional: Defina uma altura se desejar centralizar verticalmente também */
    /*height: 100vh;*/}

/*.styled-image {
    max-width: 100%;
    height: auto;
} */
        body{
    background-image: url("https://w7.pngwing.com/pngs/850/784/png-transparent-dog-paw-cat-paw-prints-angle-white-animals-thumbnail.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
